:root {
    --text-main-color: #E3CE04;
    --text-main-highlight: #F9E205;
    --background-color: #5a2491;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    transition-duration: 200ms;
    /*   border: solid var(--text-main-color);
    border-width: 5px; */
}

/*center stuff speed run =
    display: flex;
    justify-content: center;
    align-items: center;
*/

body {
    background-image: url('public/Toast.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 1rem;
}

.name-container {
    background: var(--background-color);
}

.main-header {
    display: flex;
    padding-bottom: 2rem;
}

nav {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    text-decoration: none;
}

.home-button {
    text-decoration: none;
    width: 200px;
    border-radius: 0.5rem;
    display: flex;
    align-self: start;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    width: fit-content;
    font-size: 2.5rem;
    color: var(--text-main-color);
    border: none;
}

.fa-brands {
    float: left;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    font-size: 6rem;
    font-weight: 900;
}

.directory-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.directory-link {
    padding: 1rem 4rem;
    border: none;
    outline: none;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: var(--background-color);
    color: var(--text-main-color);
    font-weight: 700;
    cursor: pointer;
    gap: 1rem;
    text-decoration: none;
    display: flex;
}

.directory-link:hover {
    box-shadow: 0 0 15px var(--text-main-highlight);
}

.about-us-front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    background: var(--background-color);
}

.about-us-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    background: var(--background-color);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
}

.toast-team-picture {
    max-width: 1100px;
    max-height: 750px;
    place-items: center;
    overflow: hidden;
    display: grid;
    margin: auto;
    border-radius: .5rem;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
}

.meet-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-main-color);
    font-size: 3rem;
    padding: 2rem;
    font-weight: 800;
}

.roster-names {
    display: grid;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.name-text {
    text-decoration: none;
    color: var(--text-main-color);
    font-size: 2rem;
    font-weight: 900;
    display: inline-block;
    align-items: row;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: auto;
    padding: 0.2rem;
}

.fa-star {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.name-text:hover {
    color: var(--text-main-highlight);
    text-decoration: underline;
}

.tournament-container {
    grid-template-rows: 150px 100px 200px;
    grid-template-columns: 150px 100px 200px;
    background: var(--background-color);
    color: var(--text-main-color);
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
}

.tournament-header {
    background: var(--background-color);
    color: var(--text-main-color);
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
}

@media (min-width: 640px) {

    .body {
        padding: 6rem;
    }

    .home-button {
        width: 200px;
    }

    .name-text {
        font-size: 2rem;
    }
}