:root {
    --text-main-color: #E3CE04;
    --text-main-highlight: #F9E205;
    --background-color: #5a2491;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    transition-duration: 200ms;
    border: solid var(--text-main-color);
    border-width: 5px;
}

/*center stuff spped run =
    display: flex;
    justify-content: center;
    align-items: center;
*/

body {
    background-image: url('public/Toast.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem;
}

.name-container {
    background: var(--background-color);
}

nav {
    padding: 0.5rem;
}

.home-button {
    text-decoration: none;
    width: 200px;
    border-radius: 0.5rem;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.intro-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    font-size: 6rem;
}

.about-us-front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-main-color);
    font-size: 3rem;
}

.about-us-info {}

.toast-team-picture {
    max-width: 1100px;
    max-height: 750px;
    place-items: center;
    overflow: hidden;
    display: grid;
    margin: auto;
    border-radius: .5rem;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3rem 3rem;
}

.meet-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-main-color);
    font-size: 3rem;
    padding: 2rem;
}

.roster-names {
    display: grid;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.name-text {
    text-decoration: none;
    color: var(--text-main-color);
    font-size: 1.3rem;
    font-weight: 900;
    display: inline-block;
    align-items: row;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    margin: auto;
    padding: 0.2rem;
}

.fa-star {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.name-text:hover {
    color: var(--text-main-highlight);
    text-decoration: underline;
}

@media (min-width: 640px) {

    .name-text {
        font-size: 2rem;
    }
}